@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Oxanium:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* Font Variables */
    --font-heading: 'Orbitron', sans-serif;
    --font-body: 'Oxanium', sans-serif;

  
  }

  /* Body Styling */
  body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
  }

  /* Headings Styling */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: hsl(var(--foreground));
  }


 
}
